<footer class="footer">
  <section class="footer-container container">
    <div class="footer-wrap-mob">
      <div class="footer-wrap">
        <a class="footer-logo-link" href="../index.html">
          <img
            src="../img/footer-logo/logo-footer-mobile.png"
            alt="footer logo"
          />
        </a>
        <address>
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <a href="tel:+380684439426" class="footer-tel-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <a
                class="footer-address"
                href="https://goo.gl/maps/Myhvmn3DDamLaK9R7"
                target="_blank"
                >1678 S. Pioneer Road Salt Lake City UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
      <nav class="footer-navigation">
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#section-about">About us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#catalog">Catalog</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#sale">Sale</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- <ul class="footer-social">
      <li class="footer-social-list">
        <a class="footer-social-link" href="https://uk-ua.facebook.com/">
          <svg class="footer-social-icon">
            <use href="../public/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-list">
        <a class="footer-social-link" href="https://www.instagram.com">
          <svg class="footer-social-icon">
            <use href="../public/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-list">
        <a class="footer-social-link" href="https://www.youtube.com/">
          <svg class="footer-social-icon">
            <use href="../public/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul> -->
    <!-- <div class="footer-privacy">
      <p class="footer-privacy-text">
        &copy;2022 The Watch Spot. All rights reserved.
      </p>
      <a class="footer-policy" href="https://www.google.com">Privacy Policy</a>
      <a class="footer-service" href="https://www.google.com"
        >Terms of Service</a
      >
    </div> -->
  </section>
</footer>
