<header class="header">
  <div class="header-wrap container">
    <div class="header-logo">
      <a class="header-logo-link" href="./index.html">
        <img src="/img/header/logo.png" alt="logo" />
      </a>
      <p class="header-logo-text">thewatchspot</p>
    </div>
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#section-about">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <div class="header-tel">
      <a href="tel:+380684439426" class="header-tel-link"
        >+380 (68) 443-94-26</a
      >
    </div>
    <button class="mob-mnu-btn" type="button" data-menu-open>
      <svg width="20" height="14">
        <use href="/public/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>
  <!------------------------- Menu for mobile version -------------->
  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-wrap">
      <div class="mob-logo">
        <a class="header-logo-link" href="/index.html">
          <img src="/img/header/logo.png" alt="logo" />
        </a>
        <p class="header-logo-text">thewatchspot</p>
      </div>
      <button type="button" class="mob-menu-close" data-menu-close>
        <svg width="24" height="24">
          <use href="/public/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-navigation">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#section-about">About us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
