<section class="hero">
  <h1 class="hero-title">Welcome to our collection of premium watches</h1>
  <!------------------------ SLIDER START---------------->
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider1.jpg"
          alt="Slide 1"
          width="266"
          height="190"
        />
        <span class="swiper-first-number">01</span>
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider2.jpg"
          alt="Slide 2"
          width="266"
          height="190"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider3.jpg"
          alt="Slide 3"
          width="266"
          height="190"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider4.jpg"
          alt="Slide 4"
          width="266"
          height="190"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider5.jpg"
          alt="Slide 5"
          width="266"
          height="190"
        />
      </div>
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
  <div class="swiper-buttons">
    <button class="swiper-button-prev btn"></button>
    <button class="swiper-button-next btn"></button>
  </div>
  <div class="swiper-btn-next"></div>
  <!------------------- SLIDER END ----------------->
  <p>
    Our watches are not just timepieces, but also an expression of your
    personality and lifestyle. From classic designs to modern ones, we have a
    watch to suit every taste and occasion.
  </p>
  <img
    src="../img/hero/main-photo-m.jpg"
    alt="Whatches on the hand"
    width="335"
    height="410"
  />
</section>
