<section>
  <h1>Welcome to our collection of premium watches</h1>
  <!------------------------ SLIDER START---------------->
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider1.jpg"
          alt="Slide 1"
          width="226"
          height="190"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider2.jpg"
          alt="Slide 2"
          width="226"
          height="190"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider3.jpg"
          alt="Slide 3"
          width="226"
          height="190"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider4.jpg"
          alt="Slide 4"
          width="226"
          height="190"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="../img/hero/main-slider5.jpg"
          alt="Slide 5"
          width="226"
          height="190"
        />
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <!------------------- SLIDER END ----------------->
  <p>
    Our watches are not just timepieces, but also an expression of your
    personality and lifestyle. From classic designs to modern ones, we have a
    watch to suit every taste and occasion.
  </p>
  <img
    src="../img/hero/main-photo-m.jpg"
    alt="Whatches on the hand"
    width="335"
    height="410"
  />
</section>
