.hero {
    background-color: #141414;

}

.hero-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: #FFFFFF;

    padding: 76px 20px 60px;
}

/* -------------------------SLIDER----------------------- */
.swiper {

    border: 1px solid yellow;
    width: 266px;
    height: 200px;


    margin-left: 20px;
}

.swiper-wrapper {
    position: relative;
    width: 266px;
    height: 200px;

}

.swiper-slide {
    border: 1px solid red;
}

.swiper-first-number {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.swiper-buttons {
    position: relative;
    padding-bottom: 40px;
}

.btn {
    width: 32px;
    height: 32px;

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    background: #141414;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.swiper-button-prev {
    margin-top: 20px;
    margin-left: 20px;
}

.swiper-button-next {
    margin-top: 20px;
    margin-left: 64px;
}